RyarcWorkSL4/LiteApp.RyarcWork/Service References/Services.Memo/MemoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MongoDB.Bson" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31097/Services/MemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ObjectId">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_increment" type="xs:int" />
      <xs:element name="_machine" type="xs:int" />
      <xs:element name="_pid" type="xs:short" />
      <xs:element name="_timestamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectId" nillable="true" type="tns:ObjectId" />
  <xs:complexType name="ArrayOfBsonElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BsonElement" nillable="true" type="tns:BsonElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBsonElement" nillable="true" type="tns:ArrayOfBsonElement" />
  <xs:complexType name="BsonElement">
    <xs:sequence>
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_value" nillable="true" type="tns:BsonValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BsonElement" nillable="true" type="tns:BsonElement" />
  <xs:complexType name="BsonValue">
    <xs:sequence>
      <xs:element name="_bsonType" type="tns:BsonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BsonValue" nillable="true" type="tns:BsonValue" />
  <xs:simpleType name="BsonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EndOfDocument" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="Array" />
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="ObjectId" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Null" />
      <xs:enumeration value="RegularExpression" />
      <xs:enumeration value="JavaScript">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Symbol">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JavaScriptWithScope">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Int32">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Timestamp">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Int64">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinKey">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">255</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaxKey">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">127</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BsonType" nillable="true" type="tns:BsonType" />
</xs:schema>