RyarcWorkSL4/LiteApp.RyarcWork/Service References/Services.Memo/MemoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31097/Services/MemoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.RyarcWork.Web.Entities" />
  <xs:element name="GetMemos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.RyarcWork.Web.Entities" minOccurs="0" name="GetMemosResult" nillable="true" type="q1:ArrayOfMemo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>