RyarcWorkSL4/LiteApp.RyarcWork/Service References/Services.Memo/MemoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiteApp.RyarcWork.Web.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiteApp.RyarcWork.Web.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31097/Services/MemoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="ArrayOfMemo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Memo" nillable="true" type="tns:Memo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemo" nillable="true" type="tns:ArrayOfMemo" />
  <xs:complexType name="Memo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q1:ObjectId" />
      <xs:element minOccurs="0" name="Keys" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Values" nillable="true" type="q2:ArrayOfBsonElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Memo" nillable="true" type="tns:Memo" />
</xs:schema>